.YZrg6 {
    align-items: center;
    background: #fff;
    border: 1px solid rgb(218,220,224);
    
    color: rgb(60,64,67);
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
   
    
    
}

.gInput1.error {
    
    border: 2px solid rgb(217, 48, 37);
  }

.btnCreate{
    cursor: pointer;
}

.gInput1.error:focus{
    border: 2px solid rgb(217, 48, 37);
}

.gInput1.error:focus +.inputLabel1:before{
    color: rgb(217, 48, 37);
    font-size: 12px;
    top: -65px;
    z-index: 1;
}


.o6cuMc1.Jj6Lae1 {
    color: rgb(217,48,37);
}

.o6cuMc1 {
    align-items: flex-start;
    display:flex;
    font-size: 12px;
    line-height: normal;
    margin-top: 2px;
    justify-content: flex-start;
    margin-left: -2px;
}

.stUf5bqpSchb1{
    margin-right: 2px;
}

.gshgshs1{
    margin-top: 1px;
    font-size: 12px;
}



.guestverify{
    margin-top: 25px;
    margin-bottom: 50px;
    color: rgb(95,99,104);
    font-size: 15px;
    line-height: 1.4286;
    font-weight: normal;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    color: black;
    width: 350px;
}

.HnRr5d {
    border-radius: 16px;
}


.HnRr5d {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 3px;
}

.stUf5b{
    margin-left: -6px;
}

.KTeGk{
    margin-bottom: 2px;
}



.gInput1{
    width: 100%;
    height: 3.5rem;
    margin-top: 10px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 0 0 15px;
    background-color: none;
    outline: none;
    box-sizing: border-box;
    
}

.gInput1:focus{
    border: 2px solid #4285f4;
}

.gInput1:focus::placeholder {
    color: transparent;
    
}

.gInput1:not(:focus)::placeholder {
    transition: color 0.2s ease; /* Add a 0.5s delay to the color transition */
}

.gInput1::placeholder {
    font-size: smaller ;
    /* transition: color 0.15s ease; */
}

.gInput1:focus + .inputLabel1:before{
    color: #4285f4;
    font-size: 12px;
    top: -65px;
    z-index: 1;
}

.inputLabel1{
    position: relative;
    width: 200px;
}

.inputLabel1:before{
    content: "Enter your password";
    position: absolute;
    top: -41px;
    left: -65px;
    background-color: white;
    font-size: 18px;
    z-index:-1;
    font-weight: bold;
    padding:0 10px;
    box-sizing: border-box;
    transition: 0.1s ease;

}

.inputLabel1:before{
    color: #5f6368;
}

.VfPpkd-MPu53c {
    display: inline-block;
    position: relative;
    flex: 0 0 18px;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom;
    margin-top: 2.5px;
}


.sSzDjeNEk0Ve{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.enBDyd {
    align-items: center;
    display: flex;
    flex: none;
    height: 24px;
    justify-content: center;
}

.d3GVvdjGAaxb{
    margin-top: 1px;
    margin-bottom: 20px;
    color: rgb(95,99,104);
    font-size: 15px;
    margin-left: 20px;
    font-weight: normal;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    color: black;


}

.VfPp{
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: -3px;

   
}

.VfPp:hover{
    color: #366fca;
    background-color: #f6f9fe;
}



.buttonContainer1{
    width: 109%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 25px;
    padding: 0 0 0 0px;
}

.buttonContainer1 a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    margin-bottom: 35px;
}